---
interface Props {
    href: string;
    principal?: boolean;
    selected?: boolean;
}
const { href: linkPath, principal = false, selected = false } = Astro.props;

---

<a
  href={linkPath}
  class:list={[
    "px-4 py-2 text-sm/6 font-semibold text-white transition cursor-pointer flex flex-row items-center justify-center gap-2",
    {
      "bg-amber-600 hover:bg-amber-700 dark:bg-amber-700 dark:hover:bg-amber-600" : selected,
          "px-6 py-3 bg-green-600 text-white rounded-lg hover:bg-green-700 transition" : principal,
      "bg-black hover:bg-gray-800 dark:bg-gray-700 dark:hover:bg-amber-700" : !selected && !principal,
    }
  ]}
  
>
    <slot />
    <slot name="icon" />
</a>