---
import HeaderButton from './HeaderButton.astro';

---

<section class="flex flex-row items-center justify-center">
    <div class="text-center flex flex-col items-center justify-center max-w-7xl lg:py-15 lg:px-40 py-5 px-0.5 lg:max-h-2/4 sm:max-h-3/4 my-1.6 lg:my-10 bg-gray-800 rounded-lg">
        <h1 class="text-5xl font-bold text-green-100 mb-4">Welcome to My Astro Site</h1>
        <p class="text-lg text-gray-300 mb-8">This is a simple Astro project to demonstrate the basics.</p>
        <HeaderButton href="/contact" principal>Contact Me</HeaderButton>
    </div>  
</section>
